<section>
    <table>
        <caption>
            <a href="https://www.11ty.dev/docs/data-eleventy-supplied/#page-variable" target="_blank" rel="noopener noreferrer">11ty Page Variables</a>
        </caption>
        <tr>
            <th>Data Variable</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>page.url: </td>
            <td>{{ page.url }}</td>
        </tr>
        <tr>
            <td>page.fileSlug: </td>
            <td>{{ page.fileSlug }}</td>
        </tr>
        <tr>
            <td>page.filePathStem: </td>
            <td>{{ page.filePathStem }}</td>
        </tr>
        <tr>
            <td>page.date: </td>
            <td>{{ page.date }}</td>
        </tr>
        <tr>
            <td>page.inputPath: </td>
            <td>{{ page.inputPath }}</td>
        </tr>
        <tr>
            <td>page.outputPath: </td>
            <td>{{ page.outputPath }}</td>
        </tr>
        <tr>
            <td>page.outputFileExtension: </td>
            <td>{{ page.outputFileExtension }}</td>
        </tr>
        <tr>
            <td>page.templateSyntax: </td>
            <td>{{ page.templateSyntax }}</td>
        </tr>
        <tr>
            <td>page.rawInput: </td>
            <td>{{ page.rawInput }}</td>
        </tr>
    </table>
</section>
